{{!
    @template block_eledia_telc_coursesearch/nav-selected-option-item

    This template renders the always visible selected option items.

    Example context (json):
    {}
}}
<div class="mb-3 col-mb-3" style="padding-left: 15px;">
	<span class="badge bg-secondary d-inline-flex align-items-center px-2 py-1">
		{{! text}}
		selected option
		<button type="button" class="btn btn-sm btn-link p-0 ms-1 text-white" aria-label="{{#str}}remove{{/str}}">
			{{#pix}} e/cancel, core {{/pix}}
		</button>
	</span>
</div>
